.hire-login
	text-align: left

.hire-login .login-form
	position: absolute
	z-index: 10000
	background-color: #ffffff


.hire-login input
	display: block

.hire-login .login-form button
	width: 75%

.hire-login .login-sub-component
	padding: 12px

.hire-login .hire-login-error
	color: red
	font-weight: bold